<div class="p-8 mx-auto max-w-[1200px] bg-white gap-4 justify-between">
  
  <h1 class="text-3xl font-bold">Last 25 jobs: </h1>

  <table class="mt-8 w-full text-md text-left text-slate-600">
    
    <thead class="text-sm text-slate-700 uppercase bg-slate-100">
      <tr>
        <th class="py-3 px-6">Start date</th>
        <th class="py-3 px-6">Query</th>
      </tr>
    </thead>
    
    <tbody class="bg-white border-b">
      <% @cam_pwn_jobs.each do |cam| %>
        <tr>
          <td class="py-4 px-6">
            <%= cam.created_at %>
          </td>
          <td class="py-4 px-6">
            <%= cam.query %>
          </td>
        </tr>
      <% end %>
    </tbody>
    
  </table>
  
</div>
