<div class="mx-auto mt-10 flex flex-wrap">
  <% if @cams %>

    <% @cams.each do |cam| %>
    
      <div class="grow w-60">
        <%= link_to(show_cam_url(cam.id)) do %>
          <img class="h-72 " src="data:image/png;base64, <%= cam.screenshot %>" alt="<%= cam.city + ", " + cam.country_name %>" />
        <% end %>
      </div>
      
    <% end %>
    
  <% end %>
</div>

<script>

  // This piece of hackery makes sure the scroll position is retained on page refresh
  document.addEventListener("DOMContentLoaded", function (event) {
      var scrollpos = sessionStorage.getItem('scrollpos');
      if (scrollpos) {
          window.scrollTo(0, scrollpos);
          sessionStorage.removeItem('scrollpos');
      }
  });
  window.addEventListener("beforeunload", function (e) {
      sessionStorage.setItem('scrollpos', window.scrollY);
  });

  // Auto-refresh every 10 seconds
  setTimeout(function(){
     window.location.reload();
  }, 10000);
  
</script>
