<div class="flex flex-wrap p-8 bg-white gap-4 justify-between">
  
  
  <div class="mx-auto gap-2">
    
    <% @shodan_api_key.errors.full_messages_for(:key).each do |message| %>
      <div class="error_explanation"><%= message %></div><br>
    <% end %>

    <h3 class="text-xl font-bold">Paste your key</h3>
    <div class="mt-2">
    <%= form_with model: ShodanApiKey.new do |form| %>
      <%= form.text_field :key, class: "p-1" %>
      <%= form.submit "CREATE", class: "font-bold text-sm border-2 text-black p-1" %>
    <% end %>
    </div>
    
  </div>

</div>
